
<ul>
  {{#each model as |question|}}
     {{question-tile question=question}}
     {{question-rating save4="save5"}}
     <h5>Popularity:{{question-popularity question}}</h5>
  {{/each}}
</ul>


{{new-question save2="save3"}}
